name: freecodecamp
description: freecodecamp.org app.
publish_to: none
version: 1.1.1+4
environment:
  sdk: ">=2.12.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  url_launcher: ^6.0.9
  flutter_dotenv: ^5.0.0
  flutter_html: ^2.1.1
  cupertino_icons: ^1.0.3
  webview_flutter: ^2.0.6
  sqflite: ^2.0.0+3
  flutter_slidable: ^0.6.0
  flip_card: ^0.5.0
  flutter_skeleton: ^0.1.0+1
  flutter_swiper: ^1.1.6
  path_provider: ^2.0.2
  algolia: ^1.0.1
  hexcolor: ^2.0.5
  flutter_syntax_view: ^4.0.0
  jiffy: ^4.1.0
  share: ^2.0.4
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  uses-material-design: true
  assets:
    - assets/images/splash_screen.png
    - .env
    - assets/images/
    - assets/images/placeholder-profile-img.png
    - assets/database/cards-jwasham.db
    - assets/database/bookmarked-article.db


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
