name: Build and Test API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: mobile-api

jobs:
  build-and-test:
    name: Build and Test API
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint source files
        run: pnpm run lint

      - name: Build and start container
        run: docker compose -f docker-compose.dev.yml up -d

      - name: Sleep for 1 minute
        run: sleep 60

      - name: Ping container
        run: curl localhost:3000/ping

      - name: Create .env file
        run: cp sample.env .env

      - name: Run tests
        run: pnpm test
