name: Deployment
on:
  push:
    branches:
      - prod
    paths:
      - "mobile-app/**"

jobs:
  flutter_deploy:
    name: Deploy flutter app
    defaults:
      run:
        working-directory: ./mobile-app
    runs-on: macos-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v3

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
          cache: "gradle"

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-31

      - name: Ceate AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Setup Flutter 2.10.1
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "2.10.1"
          channel: "stable"
          cache: true
          cache-key: flutter-2.10.1
          cache-path: ${{ runner.tool_cache }}/flutter

      - name: Create .env file
        run: |
          echo "NEWSURL=https://www.freecodecamp.org/news/ghost/api/v3/content/" > .env
          echo "NEWSKEY=$GHOST_NEWSKEY" >> .env
          echo "ALGOLIAAPPID=$ALGOLIA_APP_ID" >> .env
          echo "ALGOLIAKEY=$ALGOLIA_KEY" >> .env
        env:
          GHOST_NEWSKEY: ${{ secrets.GHOST_NEWSKEY }}
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}

      - name: Install packages
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests in emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          target: google_apis
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: cd mobile-app && if adb shell pm list packages | grep -q org.freecodecamp; then adb uninstall org.freecodecamp; fi && flutter drive --driver=test_driver/integration_test.dart --target=integration_test/news_test.dart

      - name: Upload screenshots
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: screenshots
          path: mobile-app/screenshots/
          retention-days: 7

      - name: Setup Ruby for Fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.6"
          bundler-cache: true
          working-directory: ./mobile-app/android

      - name: Configure keystore
        working-directory: ./mobile-app/android
        run: |
          echo "$KEYSTORE" | base64 --decode > app/keystore.jks
          echo "$GPLAY_STORE_CONFIG" | base64 --decode > play-store-credentials.json
          echo "storeFile=keystore.jks" > key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
        env:
          KEYSTORE: ${{ secrets.KEYSTORE }}
          GPLAY_STORE_CONFIG: ${{ secrets.GPLAY_STORE_CONFIG }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}

      - name: Deploy app to internal testing
        run: |
          flutter build appbundle
          cd android
          bundle exec fastlane deploy
        env:
          GPLAY_STORE_CONFIG: ${{ secrets.GPLAY_STORE_CONFIG }}
